{% extends 'profile/user_profile.html' %}

{% block title %}Followers{% endblock %}

{%block followers_highlight%}<span class="underline-text">Followers</span>{%endblock%}

{%block gallery%}
<style>
  .profNav{
    display:none;
  }
</style>
        <div class="separator-bar"></div>

        <!-- User followers table -->
        {% if followers %}
          <table class="table" id="students">
            <thead>
              <th scope="col">  
                <a class="btn btn-dark text-light z-3 rounded " href="javascript:history.go(-1)">
                <i class="fa-solid fa-angle-left fa-beat" style="color: #DAD6BF;"></i>
                </a>
              </th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">&#12288</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </thead>
              <tbody>
                {% for follower in followers %}
                <tr>
                  <!-- Display information about the user being following you -->
                  <td>&#12288</td>
                  <td>&#12288</td>
                  <td>&#12288</td>
                  <td>
                    <div style="display: flex; align-items: center;">
                      <a href="{{ url_for('profile_bp.profile', username=follower.username) }}">
                      <img loading="lazy" class="img rounded-pill" src="{{ follower.profilepic }}" alt="Profile Picture" style="height: 65px; width: 65px; margin-right: 10px;" /></a>
                      <div>
                        <h5 style="margin: 0;">{{ follower.fullname }}</h5>
                        <p style="margin: 0;">@{{ follower.username }}</p>
                      </div>
                    </div>
                  </td>
                  <td>&#12288</td>
                  <td>&#12288</td>
                  <td>&#12288</td>
                  <td>&#12288</td>
                  {% if follower.id != current_user.id %}
                  {% if follower['id'] is defined and user_following is defined %}
                      <td>
                        <p></p> 
                        <button onclick="unfollow({{follower.id}})" class="unfollow-button-{{follower.id}} btn follow" {%if follower.id in user_following%} style = "background-color: #ffffff; color: #D17A5E; border: 0.5px solid #D17A5E;" {%else%}style="display:none; background-color: #ffffff; color: #D17A5E; border: 0.5px solid #D17A5E;"{%endif%}>Unfollow</button>
                        <button onclick="follow({{follower.id}})" class="follow-button-{{follower.id}} followBtn btn btn-lg btn-secondary btn-sm fw-bold" {%if follower.id not in user_following%} style = "background-color: #D17A5E; border: none"{%else%}style="display:none; background-color: #D17A5E; border: none"{%endif%}>Follow</button>
                      </td>
                  {% endif %}
                  {% endif %}
                  <td>&#12288</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        {% else %}
          <p>{{ user.username }} is not following anyone right now.</p>
          </table>
        {% endif %}
    </section>

    <style>
      /* Add the separator bar styling */
      .separator-bar {
        width: 80%;
        height: 3px;
        background-color: #837d7d; /* Dark grey color */
        border-radius: 3px; /* Rounded corners */
        margin-top: 20px; /* Adjust the margin-top as needed */
        margin-left: auto;
        margin-right: auto;
      }

      .table tbody tr td,
      .table thead tr th {
        border: none;
      }
    </style>
{% endblock %}