{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


    <!-- Section: White bg -->
    <section>
      <div class="container">

        <!-- ProfilePic and CoverPic -->
        <section>
          <div class="d-flex justify-content-center cover-pic-container rounded-bottom">
            <img loading="lazy"
              {% if 'static' in user.coverpic %}src = "{{url_for('static', filename=user.coverpic[7:])}}"{%else%}src="{{ user.coverpic }}"{%endif%}
              class="cover-pic" 
            />
          </div>
          <div class="d-flex justify-content-center">
            <img loading="lazy"
            {% if 'static' in user.profilepic %}src = "{{url_for('static', filename=user.profilepic[7:])}}"{%else%}src="{{ user.profilepic }}"{%endif%}
              class="profile-pic rounded-circle" 
              />
          </div>
        </section>

        <!-- User Data -->
        <section>
          <div class=" justify-content-center text-center" style="margin-top: 68px">
            <div class = "userTop container-fluid">
              {% if current_user != user %}
                {% if user_following and user.id in user_following %}
                    <!-- User is already followed -->
                    <div class="dropdown custom-dropdown">
                      <button class="btn btn-sm btn-secondary dropdown-toggle custom-follow-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Following
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <form action="{{ url_for('user_bp.unfollow', following=user.id) }}" method="POST" style="border: none;">
                              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                              <button class="dropdown-item">Unfollow</button>
                          </form>
                      </div>
                    </div>
                {% else %}
                    <!-- User is not followed, show follow button -->
                    <form action="{{ url_for('user_bp.follow', following=user.id) }}" method="POST" style="border: none;">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <button class="followBtn btn btn-lg btn-secondary btn-sm fw-bold" style="background-color: #D17A5E; border: none">Follow</button>
                    </form>
                {% endif %}
              {% endif %}
              <h5 style="margin-bottom:2px">{{ user.fullname }}</h5>
              <p class="small text-muted" style="margin-bottom: 8px">@{{ user.username }}</p>
            </div>
            {% if user.bio %}
              <p class="small py-3 bio-text">{{ user.bio }}</p>
            {% elif not user.bio %}
              <p class="default-division" style="margin-top: 68px"></p>
            {% endif %}
            
            {% if user.website %} 
              <p class="small link">
                <a href="{{ user.website }}" target="_blank" style="text-decoration: none; color: darkblue">
                  <i class="fa-solid fa-link"></i> {{ user.website }}
                </a> 
              </p> 
            {% endif %}
          </div>

          <div class="d-flex justify-content-center text-center">
            <a href="{{ url_for('profile_bp.followers', username=user.username) }}">
              <div class="d-flex px-3 py-3">
                  <h6 class="px-2" id="userFollowing">{{ followers_num }}</h6>
                  <h6 class="small text-muted">Followers</h6>
              </div>
            </a>
            <a href="{{ url_for('profile_bp.following', username=user.username) }}">
                <div class="d-flex px-3 py-3">
                    <h6 class="px-2" id="userFollowing">{{ following_num }}</h6>
                    <h6 class="small text-muted">Following</h6>
                </div>
            </a>
          </div>
        </section>

        <!-- Navbar: Posts, Liked, and Saved -->
        <div>
          <nav class="nav justify-content-center">
            {% if current_user == user %}
              <a href="{{ url_for('profile_bp.profile', username=user.username) }}" class="nav-link">Posts</a>
              <a href="{{ url_for('profile_bp.profile_liked', username=user.username) }}" class="nav-link">Liked</a>
              <a href="" class="nav-link">Saved</a>
            {% else %}
              <a href="{{ url_for('profile_bp.profile', username=user.username) }}" class="nav-link">Posts</a>
            {% endif %}
          </nav>
        </div>
        <!-- User Posts Gallery -->
        {%block gallery%}
        <div class="img-container">
          <div class="row">
              {% if posts_with_images %}
                  {% for post, first_image_info in posts_with_images %}
                      <div class="col-lg-3 col-md-6 mb-4">
                          <div class="image-container">
                              <a href="{{url_for('post_bp.view_post',postid=post.id)}}">
                                  {% if first_image_info['type'] == 'image' %}
                                      <img loading="lazy" src="{{ first_image_info['url'] }}" class="gallery-image" alt="{{ post['title'] }}">
                                  {% elif first_image_info['type'] == 'video' %}
                                      <video class="gallery-video">
                                          <source src="{{ first_image_info['url'] }}" type="video/mp4">
                                          Your browser does not support the video tag.
                                      </video>
                                  {% endif %}
                              </a>
                              {% if post['user_id'] == current_user.id %}
                                  <div class="image-overlay">
                                      <form action="{{ url_for('post_bp.edit', user_name=user.username, post_id=post['id']) }}" method="POST" style="border: none;">
                                          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                          <button type="submit" class="overlay-link delete-button">
                                              <i class="fa-solid fa-pen-to-square" id="editPost"></i>
                                          </button>
                                      </form>
                                      <form id="deletePostForm" action="{{ url_for('post_bp.delete', user_name=user.username, post_id=post['id']) }}" method="POST" style="border: none;">
                                          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                          <button type="button" class="overlay-link delete-button">
                                              <i class="fa-solid fa-trash" id="deletePost" style="color: red;" data-bs-toggle="modal" data-bs-target="#deleteConfirm"></i>
                                          </button>
                                      </form>
                                  </div>
                              {% endif %}
                          </div>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>No posts available.</p>
              {% endif %}
          </div>
        </div>
        {%endblock%}


        <!-- Create post icon -->
        {% if current_user == user %}
          <a href="{{ url_for('post_bp.create', user_name = current_user.username) }}">
            <div class="floating-icon">
              <i class="fa-solid fa-plus"></i>
            </div>
          </a>
        {% endif %}
        
      </div>
    </section>

    <!-- DELETE CONFIRM MODAL -->
<div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true" data-bs-theme="dark">
  <div class="modal-dialog text-light">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete Post</h1>
      </div>
      <div class="modal-body">
          <div class="d-flex justify-content-between flex-column align-items-center">
            <p>Are you sure you want to <strong> delete this post?</strong></p>
          </div>
          <div class="alert alert-danger" id="errordelete" name="errordelete" role="alert" style="display: none"></div>      
          <div class="d-flex justify-content-end gap-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: black;">Cancel</button>
            <button type="submit" class="btn btn-danger" form="deletePostForm">Delete</button>
          </div>
      </div>
    </div>
  </div>
</div>
<script>
  let path = window.location.pathname;

  let links = document.querySelectorAll('.nav a');
  for (let i = 0; i < links.length; i++) {
    if (links[i].getAttribute('href') === path) {
      links[i].classList.add('active');
    }
  }
</script>
<script src="{{ url_for('static', filename='js/create.js') }}"></script>

{% endblock %}