{%extends 'posts/viewpost.html'%}

{%block contextNav%}
<div class="d-flex flex-column align-items-center recipe-section">
  <a href="{{url_for('post_bp.view_post',postid=post.id)}}" class="text-dark text-decoration-none">RECIPE</a>
  <hr>
</div>
<div class="d-flex flex-column align-items-center">
    <input type="hidden" name="commentNum" id ="commentNum" value="{{comments|length}}" />
  <a href="{{url_for('post_bp.view_post_comment',postid=post.id)}}" class="fw-bold text-dark text-decoration-none">COMMENTS<small id ="commentNumDisplay" class = "ms-2 text-muted fw-regular">{{comments|length}}</small></a>
  <hr style="width: 150%; border: 3px solid #D17A5E;">
</div>
{%endblock%}

{%block context%}
    <style>
        .underline{
            border-bottom: 2px solid #000000; /* Adjust the color as needed */
            transition: border-color 0.3s; /* Add a transition effect if desired */
        }
        .plainline{
            border-bottom: 1px solid #ccc;
        }
    </style>
        <div class = "container mb-5">
            <form method="POST" action = "{{url_for('post_bp.view_post_comment', postid = post.id)}}">
                {{ form.hidden_tag() }}
                <div class = "row row-cols-3 mx-auto d-flex justify-content-center my-2 ms-2">
                    <div class = "col-1 d-flex justify-content-center px-0 mt-1 pe-2">
                        <a href="{{ url_for('profile_bp.profile', username=current_user.username) }}">
                            <img loading="lazy" 
                                class="img rounded-pill" {% if 'static' in current_user.profilepic %}
                                src = "{{url_for('static', filename=current_user.profilepic[7:])}}"{%else%}src="{{ current_user.profilepic }}"{%endif%} 
                                style="height: 45px; width: 45px;">
                        </a>
                    </div>
                    <div class = "col-10">
                        <div class = "row">
                            <p class="text-break text-start mb-0 fs-6 fw-bold">{{current_user.fullname}}</p>
                            <small class="text-break text-start mb-0 text-muted" style = "font-size:12.5px;">@{{current_user.username}}</small>
                        </div>
                        <textarea name = "commentBody" type="text" style = "resize:none; overflow: hidden;" class="form-control-plaintext plainline" rows = "1" id="commentBody" placeholder = "Add a comment..."></textarea>
                    </div>
                    <div class = "col-1 p-0 m-0">
                    </div>
                </div>
                <div class = "d-flex flex-row-reverse mt-3">
                    <button disabled id = "postComment"type = "submit" class="btn btn-sm rounded-pill fw-bold ms-2" style="display:none; background-color: #d17a5e; color: black;">Comment</button>
                    <button id = "cancelComment" type = "button" class = "btn btn-sm  rounded-pill ms-1 fw-bold" style="display:none; background-color: rgba(182, 120, 99, 0.349); color: black;">Cancel</button>
                </div>
            </form>
        </div>
        {%for comment in comments%}
            <div class = "container-fluid my-5" id = "main-{{comment.comment_id}}-{{comment.id}}">
                <form id = "editComment-{{comment.comment_id}}-{{comment.id}}" method="POST" action = "{{url_for('post_bp.view_post_comment_config', comment_id=comment.comment_id, user_id=comment.id)}}">
                    {{ form.hidden_tag() }}
                    <div class = "row row-cols-3 mx-auto d-flex justify-content-center my-2 ms-2">
                        <div class = "col-1 d-flex justify-content-center px-0 mt-1 pe-2">
                            <a href="{{ url_for('profile_bp.profile', username=comment.username) }}">
                                <img loading="lazy" 
                                    class="img rounded-pill" {% if 'static' in comment.profilepic %}
                                    src = "{{url_for('static', filename=comment.profilepic[7:])}}"{%else%}src="{{ comment.profilepic }}"{%endif%} 
                                    style="height: 45px; width: 45px;">
                            </a>
                        </div>
                        <div class = "col-10">
                            <div class = "row">
                                <p class="text-break text-start mb-0 fs-6 fw-bold">{{comment.fullname}}</p>
                                <small class="text-break text-start mb-0 text-muted" style = "font-size:12.5px;">@{{comment.username}}</small>
                            </div>
                                <div id = "editSpinner-{{comment.comment_id}}-{{comment.id}}" class="spinner-border" role="status" style = "display:none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <textarea name = "body-{{comment.comment_id}}-{{comment.id}}" id = "body-{{comment.comment_id}}-{{comment.id}}" readonly type="text" style = "resize:none; overflow: hidden;" class="form-control-plaintext textArea" placeholder = "Add a comment...">{{comment.comment_body}}</textarea>
                        </div>
                        <div class = "col-1 p-0 m-0">
                            {%if current_user.id == comment.id%}
                            <div class="dropdown dropstart p-0">
                                <button class="btn p-2" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical" style="color: #d17a5e;"></i></button>
                                <ul class="dropdown-menu">
                                    <li><button type = "button" onclick = "toggleEdit({{comment.comment_id}},{{comment.id}})" class="dropdown-item">Edit Comment</button></li>
                                    <li><a class="dropdown-item btn" data-comment-id="{{comment.comment_id}}" data-user-id="{{comment.id}}" data-bs-toggle="modal" data-bs-target="#deleteConfirmComment">Delete Comment</a></li>
                                </ul>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class = "d-flex flex-row-reverse mt-3">
                        <button type = "button" onclick = "toggleEdit.edit()" disabled id = "editConfirm-{{comment.comment_id}}-{{comment.id}}" class="btn btn-sm rounded-pill fw-bold ms-2" style="display:none; background-color: #d17a5e; color: black;">Edit</button>
                        <button onclick="toggleEdit.cancelEdit()" id = "editCancel-{{comment.comment_id}}-{{comment.id}}" type = "button" class = "btn btn-sm  rounded-pill ms-1 fw-bold" style="display:none; background-color: rgba(182, 120, 99, 0.349); color: black;">Cancel</button>
                    </div>
                </form>
            </div>
        {%endfor%}

<!-- DELETE COMMENT CONFIRM MODAL -->
<div class="modal modal-sm fade" id="deleteConfirmComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmCommentLabel" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog text-light modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h1 class="modal-title fs-5" id="deleteCommentConfirmLabel">Delete Comment</h1>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-between flex-column align-items-center">
              <p>Are you sure you want to <br><strong> delete this comment ?</strong></p>
            </div>
            <div class="alert alert-danger" id="errordelete" name="errordelete" role="alert" style="display: none"></div>      
            <div class="d-flex justify-content-center gap-3">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: black;">Cancel</button>
              <button id ="deleteComment" type="button" class="btn btn-danger">Delete Comment</button>
            </div>
        </div>
      </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/comment.js') }}"></script>

{%endblock%}