{% extends 'base.html' %}
{% set active_page = "viewpostrecipe" %}
{% block title %} {{user.username}} | Tidbit {% endblock%}
{% block content%}

<style>
  .comment-section:hover hr {
    display: block;
  }

  .comment-section:hover a {
    font-weight: bold;
  }

  .comment-section hr {
    display: none;
    width: 150%;
    border: 3px solid #D17A5E;
  }
</style>

<div class="position-relative">

  <a class="btn btn-dark text-light z-3 rounded " href="javascript:history.go(-1)"
    style="position: absolute; top: 17px;">
    <i class="fa-solid fa-angle-left fa-beat" style="color: #DAD6BF;"></i>
  </a>

  <div id="carouselviewpost" class="carousel slide carousel-fade align-self-center w-100 mx-auto" data-bs-theme="dark">
    <div class="carousel-inner">
      {% for img in content %}
      {% if img.type == 'image' %}
      <div class="carousel-item {{'active' if loop.first}}">
        <div class="text-center">
          <img src="{{img.url}}" class="img-fluid rounded-bottom-4" style="height: 400px; width: 800px;" loading="lazy">
        </div>
      </div>
      {% elif img.type == 'video' %}
      <div class="carousel-item {{ 'active' if loop.first }}">
        <div class="position-relative d-flex justify-content-center">
          <video controls autoplay width="75%" height="100%" class="align-self-center">
            <source src="{{ img.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% if content|length > 1 %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselviewpost" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselviewpost" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    {%endif%}

  </div>
</div>




<div class="d-flex justify-content-around align-items-center align-content-center mt-3 w-100 mx-auto">
  <h5 class="fs-1 fw-semibold rounded" style="background-color: transparent ;">
    {{post.title}}
  </h5>
  <div class="d-flex gap-4 align-items-center">
    <a href="#" class="text-dark text-decoration-none">
      <p class="fs-6 rounded" style="background-color: transparent ;"><img style="width: 40px; height: 100%;"
          src="{{url_for('static',filename='img/like.png')}}">99999</p>
    </a>
    <a href="#" class="text-dark text-decoration-none">
      <p class="fs-6 rounded" style="background-color: transparent ;"><img style="width: 40px; height: 100%;"
          src="{{url_for('static',filename='img/BookMark.png')}}">11111</p>
    </a>
  </div>
</div>

<div
  class="container d-flex flex-column justify-content-center align-items-center align-content-center text-center mt-3 pt-3">
  <div class="d-flex justify-content-between w-100">
    <a href="{{url_for('profile_bp.profile',username=user.username)}}" class="text-dark text-decoration-none">
      <div class="d-flex align-items-center gap-3">
        <img src="{{user.profilepic}}" class="d-block m-auto align-self-center p-1 rounded-pill shadow-lg"
          style="height: 70px; width: 70px;" loading="lazy">
        <div class="d-flex flex-column">
          <p class="m-0 fw-bold">{{user.fullname}}</p>
          <p class="m-0 align-self-start fw-lighter" style="font-size: 10px;">@{{user.username}}</p>
        </div>
      </div>
    </a>

    {% if current_user.id != post.user_id%}
    <button class="btn flex-shrink-0 align-self-center m-1" style="background-color: #D27A5E;">FOLLOW</button>
    {% else %}
    <div class="dropdown pt-3">
      <button class="btn" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{url_for('post_bp.edit',post_id=post.id)}}">Edit Post</a></li>
        <li><a class="dropdown-item" href="#">Delete Post</a></li>
      </ul>
    </div>
    {%endif%}
  </div>
  <div class="d-flex w-100 align-content-start justify-content-start align-items-start">
    <p class="align-self-start mt-3 fw-lighter fs-6 text-break text-start">{{post.caption}}</p>
  </div>
  <div class="d-flex w-100 flex-wrap">
    <div class="text-dark mx-1 my-1 rounded-pill fw-semibold align-self-center"
      style="background-color: #D9D9D9; height: 30px;">{{post.tag}}</div>
    {% for x in post.subtags.split(',') %}
    <div class="text-wrap text-dark mx-1 my-1 rounded-pill fw-semibold align-self-center"
      style="width: 6rem; background-color: #D9D9D9; height: 30px;">
      {{x}}
    </div>
    {% endfor%}
  </div>
  <hr class="w-100 mt-3">
  <div class="d-flex w-100 justify-content-around">
    <div class="d-flex flex-column align-items-center">
      <a href="{{url_for('post_bp.view_post',postid=post.id)}}"
        class="{{'fw-bold' if active_page == 'viewpostrecipe'}} text-dark text-decoration-none">RECIPE</a>
      {% if active_page == 'viewpostrecipe'%}
      <hr style="width: 150%; border: 3px solid #D17A5E;">
      {% endif%}
    </div>
    <div class="d-flex flex-column align-items-center comment-section">
      <a href="#" class="text-dark text-decoration-none">COMMENTS</a>
      <hr>
    </div>
  </div>
  <hr class="w-100 mt-3">
  <div class="d-flex w-100 flex-column align-items-start mt-5">
    <h6 class="ms-5 my-3">INGREDIENTS</h6>
    <ul class="my-3">
      {% for ing in post.ingredients.split('\r\n') %}
      <li class="text-break text-start mt-3">{{ing}}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="d-flex w-100 flex-column align-items-start my-5">
    <h6 class="ms-5 my-3">INSTRUCTION</h6>
    <ol>
      {% for int in post.instructions.split('\r\n') %}
      <li class="text-break text-start mt-3">{{int}}</li>
      {% endfor %}
    </ol>
  </div>
</div>

{% endblock %}