{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main>
        <nav class="sidenav" style="position: fixed">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if 'edit-profile' in request.path %}active{% endif %}" href="/settings/edit-profile">Edit profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'notifications' in request.path %}active{% endif %}" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'community-guidelines' in request.path %}active{% endif %}" href="#">Community guidelines</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="edit-profile-content" style="margin-left: 285px">
            <h4 class="edit-profile-header mb-2">Edit Profile</h4>
            <p class="edit-profile-body small text-muted mb-0">
                Keep personal information private. All information you add 
                here is visible to anyone who views your profile.
            </p>       

            <div class="flash-messages" style="margin-top: 10px; margin-bottom: -10px; right: 10px; z-index: 9999; height: 10px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% else %}alert-info{% endif %}" style="width: 665px; padding: 3px; text-indent: 10px;">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="d-flex justify-content-center">
                <img src="{{ current_user.coverpic }}" class="cover-pic-edit"/>
            </div>
            <div class="d-flex justify-content-center">
                <img src="{{ current_user.profilepic }}" class="profile-pic-edit rounded-circle"/>
            </div>

            <div style="margin-top: 35px">
                <label for="profile_pic" style="font-size: 15px; font-weight: 500; margin-bottom: 10px">Profile Picture</label>
                <form action="/upload-profile-pic" method="POST" enctype="multipart/form-data">
                    <input name="csrf_token" value="{{ csrf_token() }}" hidden/>
                    <input type="file" name="profile_pic" accept="image/*">
                    <input type="submit" value="Upload Profile Picture" class="btn btn-secondary btn-sm" style="margin-left: 50px; background-color: #d17b5ee2; border-color: #8a4d39">
                </form>  
            </div>

            <div style="margin-top: 15px">
                <label for="cover_pic" style="font-size: 15px; font-weight: 500; margin-bottom: 10px">Cover Picture</label>
                <form action="/upload-cover-pic" method="POST" enctype="multipart/form-data">
                    <input name="csrf_token" value="{{ csrf_token() }}" hidden/>
                    <input type="file" name="cover_pic" accept="image/*">
                    <input type="submit" value="Upload Cover Picture " class="btn btn-secondary btn-sm" style="margin-left: 50px; background-color: #d17b5ee2; border-color: #8a4d39">
                </form>   
            </div>

            <div style="margin-top: 35px; margin-bottom: 200px">
                <form method="POST" action="/settings/edit-profile">
                    <input name="csrf_token" value="{{ csrf_token() }}" hidden />

                    <div class="mb-3">
                        <label for="username" class="form-label" style="font-weight: 500">Username</label>
                        <input type="text" class="form-control" style="width:500px; border-color: gray" id="username" name="username" value="{{ current_user.username }}" required>
                    </div>

                    {% if form.username.errors %}
                        <p class="message-text-error" style="position: absolute">
                            {{ form.username.errors[0] }}
                        </p>
                    {% endif %}

                    <div class="mb-3">
                        <label for="fullname" class="form-label" style="margin-top: 15px; font-weight: 500">Full Name</label>
                        <input type="text" class="form-control" style="width:500px; border-color: gray" id="fullname" name="fullname" value="{{ current_user.fullname }}" required>
                    </div>

                    {% if form.fullname.errors %}
                        <p class="message-text-error" style="position: absolute">
                            {{ form.fullname.errors[0] }}
                        </p>
                    {% endif %}
                    
                    <div class="mb-3">
                        <label for="bio" class="form-label" style="margin-top: 15px; font-weight: 500">Bio</label>
                        {% if current_user.bio %}
                            <textarea type="text" class="form-control" style="width: 500px; height: 90px; border-color: gray" id="bio" name="bio">{{ current_user.bio }}</textarea>
                        {% elif not current_user.bio %}
                            <textarea type="text" class="form-control" style="width: 500px; height: 90px; border-color: gray" id="bio" name="bio"></textarea>
                        {% endif %}
                        <p id="bio-error-message" class="small text-danger" style="position:absolute; margin-top: 1px"></p>
                        <small id="bio-counter" class="form-text text-muted" style="position:absolute; margin-left: 448px; margin-top: 1px"><span id="bio-count">0</span>/150</small>
                    </div>

                    <div class="mb-3">
                        <label for="website" class="form-label" style="margin-top: 15px; font-weight: 500">Website</label>
                        {% if current_user.website %}
                            <input type="text" class="form-control" style="margin-bottom: 25px; width:500px; border-color: gray" id="website" name="website" value="{{ current_user.website }}">
                        {% elif not current_user.website %}
                            <input type="text" class="form-control" style="margin-bottom: 25px; width:500px; border-color: gray" id="website" name="website" value="">
                        {% endif %}
                    </div>

                    <div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-left: 200px; width: 80px; background-color: #d17a5e; border-color: #8a4d39">Save</button>
                    </div> 

                </form>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var navLinks = document.querySelectorAll('.navbar-nav .nav-link');

            navLinks.forEach(function(link) {
                link.addEventListener('click', function() {
                    navLinks.forEach(function(innerLink) {
                        innerLink.classList.remove('active');
                    });

                    this.classList.add('active');
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var bioTextarea = document.getElementById('bio');
            var bioCounter = document.getElementById('bio-count');
            var bioErrorMessage = document.getElementById('bio-error-message');
        
            function updateCharCount() {
                var bioLength = bioTextarea.value.length;
                bioCounter.innerText = bioLength;
        
                // Change color based on the length
                if (bioLength > 150) {
                    bioCounter.style.color = 'red';
                    bioErrorMessage.textContent = 'Bio must be at most 150 characters.';
                } else {
                    bioCounter.style.color = ''; // Reset to the default color
                    bioErrorMessage.textContent = '';
                }
            }
        
            updateCharCount();
        
            bioTextarea.addEventListener('input', updateCharCount);
        });        
    </script>

</body>
{% endblock %}