{% extends 'base.html' %}

<!-- <p>Hello</p>
<a href="{{url_for('auth_bp.register')}}">Register</a>
<a href="{{url_for('auth_bp.login')}}">Login</a>
<a href="{{url_for('post_bp.create', user_name='1')}}">Create Post</a> -->

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">

<style>
  .navbar {
      display:none;
    }
</style>

<div id="section1" class="section container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
          <!-- <img src="static/img/orangeLogo.png" alt="Tidbit" class="img-fluid" style="margin-left: 12%; max-width: 25%;"> -->
          <h1 class="mb-3" style="font-family: 'Dancing Script', cursive; font-size: 120px; color: #d17a5e;">Tidbit</h1>
          <p style="font-size: 18px; opacity: 0.8">
            Unleash your inner chef and connect with a community <br>
            of culinary enthusiasts on Tidbit! Embark on a flavorful journey <br>
            as you explore a world of delectable recipes shared by <br>
            passionate food enthusiasts just like you.
          </p>
          <p style="font-size: 18px; font-weight: bold; opacity: 0.8;">
              Explore flavor, Discover Tidbit!
          </p>
      </div>
    </div>
  </div>
</div>

<div class="feature-background">
  <div class="container">
    <div class="row row-cols-9 justify-content-center">
      <div class="col">
        <div id="feature-box1" class="feature-box">
          <img src="static/img/feature-recipe.png" alt="Tidbit" class="img-fluid mt-5" style="max-width: 19%;">
          <h2 class="mt-3" style="font-size: 25px;">Find the perfect recipe</h2>
          <p style="opacity: 0.6"> 
              Find recipes that fit your cravings <br>
              effortlessly. Your next favorite dish is <br>
              just a click away! 
          </p>
        </div>
      </div>
      <div class="col">
        <div id="feature-box2" class="feature-box">
          <img src="static/img/feature-connect.png" alt="Tidbit" class="img-fluid mt-5" style="max-width: 19%;">
          <h2 class="mt-3"  style="font-size: 25px;">Connect with others</h2>
          <p style="opacity: 0.6"> 
            Connect with a community of fellow food <br>
            enthusiasts.  Share, discuss, and bond <br>
            over your culinary adventures. 
          </p>
        </div>
      </div>
      <div class="col">
        <div id="feature-box3" class="feature-box">
          <img src="static/img/feature-share.png" alt="Tidbit" class="img-fluid mt-5" style="max-width: 19%;">
          <h2 class="mt-3"  style="font-size: 25px;">Share your recipe</h2>
          <p style="opacity: 0.6"> 
            Share your culinary masterpiece with the <br>
            world. Showcase your kitchen triumphs <br>
            and inspire others. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section2" class="section">
  <div class="container">
    <h1 class="mb-3" style="font-family: 'Dancing Script', cursive; font-size: 120px; color: #d17a5e;">Tidbit</h1>

  </div>
</div>




{% endblock %}